---
const {
  id,
  label,
  description = "",
  min = 0,
  max = 1,
  step = 0.1,
  value = 0,
  valuePrefix = "",
  valueSuffix = "",
} = Astro.props;
---

<div class="widget-slider-controller" data-widget-slider-controller>
  <label class="widget-slider-controller__label" for={id}>{label}</label>
  <input
    id={id}
    class="widget-slider-controller__input"
    type="range"
    min={min}
    max={max}
    step={step}
    value={value}
    data-value-prefix={valuePrefix}
    data-value-suffix={valueSuffix}
  />
  {description && <p class="widget-slider-controller__description">{description}</p>}
</div>

<style>
  .widget-slider-controller {
    color: var(--sl-color-text);
  }

  .widget-slider-controller__label {
    font-weight: 600;
  }

  .widget-slider-controller__input {
    width: 100%;
  }

  .widget-slider-controller__description {}
</style>

<script>
  for (const root of document.querySelectorAll("[data-widget-slider-controller]")) {
    if (!(root instanceof HTMLDivElement) || root.dataset.ready === "true") {
      continue;
    }

    root.dataset.ready = "true";
  }
</script>
